
@model RegisterVM
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Majestic Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/adminassets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/adminassets/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/adminassets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/adminassets/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/adminassets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Register</h4>

                                    <form class="forms-sample" method="post">
                                        <div class="form-group">
                                            <label asp-for="Name">Name</label>
                                            <input asp-for="Name" placeholder="Name">
                                            <span asp-validation-for="Name"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Surname">Surname</label>
                                            <input asp-for="Surname" placeholder="Surname">
                                            <span asp-validation-for="Surname"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="UserName">UserName</label>
                                            <input asp-for="UserName" placeholder="UserName">
                                            <span asp-validation-for="UserName"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Email">Email</label>
                                            <input asp-for="Email" placeholder="Email">
                                            <span asp-validation-for="Email"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password">Password</label>
                                            <input asp-for="Password" placeholder="Password">
                                            <span asp-validation-for="Password"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword">ConfirmPassword</label>
                                            <input asp-for="ConfirmPassword" placeholder="ConfirmPassword">
                                            <span asp-validation-for="ConfirmPassword"></span>
                                        </div>
                                        <div asp-validation-summary="ModelOnly">
                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        <button class="btn btn-light" asp-controller="home" asp-action="index">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
              
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/adminassets/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="~/adminassets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/adminassets/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/adminassets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/adminassets/js/off-canvas.js"></script>
    <script src="~/adminassets/js/hoverable-collapse.js"></script>
    <script src="~/adminassets/js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/adminassets/js/dashboard.js"></script>
    <script src="~/adminassets/js/data-table.js"></script>
    <script src="~/adminassets/js/jquery.dataTables.js"></script>
    <script src="~/adminassets/js/dataTables.bootstrap4.js"></script>
    <!-- End custom js for this page-->
</body>

</html>

